.background {
    background-image: url("../assets/aircover.jpg");
    background-color: #cccccc;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    transition: all 2000ms;
}

.background:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left:50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
}

.button{
    background-color:transparent;
    color: blue;
    font-size: 1rem;
    border: 1px black solid
}
